@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

h1 {
  font-family: Shrikhand, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
}

h2 {
  font-size: 25px;
  font-weight: 900;
}

h3 {
  font-size: 18px;
  font-weight: 400;
  color: #777777;
}

h4 {
  font-size: 22px;
  font-weight: 300;
}

p {
  font-size: 19px;
  color: #000;
}

.bouton-principal {
  width: 225px;
  height: 50px;
  border-radius: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.275);
  transition: 0.2s;
  background: linear-gradient(355deg, rgb(147, 86, 220) 2%, rgb(255, 121, 218) 100%);
}
.bouton-principal p {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 2px;
}
.bouton-principal:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.475);
  transform: scale(1.02);
  filter: brightness(108%);
}

/*=== Paramètre pour que le scroll soit smooth ===*/
html {
  scroll-behavior: smooth;
}

/*=== HEADER DES PAGES ===*/
header {
  position: relative;
  padding: 12px 0 10px 0;
  box-shadow: 0 0 6px 3px rgb(199, 199, 199);
  text-align: center;
  /*=== ".fleche-retour" ne concerne que les pages de menus, PAS l'index ! ===*/
}
header .fleche-retour {
  position: absolute;
  margin: 10px 0 0 5%;
  font-size: 24px;
  color: rgb(71, 71, 71);
}
header .fleche-retour:hover {
  background-image: linear-gradient(355deg, rgb(147, 86, 220) -20%, rgb(255, 121, 218) 100%);
  background-size: cover;
  color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  transform: scale(1.2);
}

/*=== Bandeau LOCALISATION sur la page d'accueil ===*/
.localisation {
  padding: 13px 0 13px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
}
.localisation .fa-map-marker-alt {
  padding-right: 18px;
  font-size: 19px;
  color: #353535;
}
.localisation__text {
  padding-top: 3px;
  font-size: 19px;
  font-weight: 500;
  color: #4a4a4a;
}

/*=== Présentation de l'entreprise avec le bouton principal "EXPLORER" sur la page d'accueil ===*/
.explorer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 35px 0 50px 0;
  background-color: #F6F6F6;
}
.explorer h2 {
  margin-bottom: 16px;
  padding: 0 14% 0 14%;
  line-height: 28px;
}
.explorer h3 {
  padding: 0 6% 0 6%;
  margin-bottom: 30px;
}
.explorer a {
  text-decoration: none;
}

/*=== Bandeau d'explication du concept en trois étapes sur la page d'accueil ===*/
.fonctionnement {
  margin: 46px 5% 70px 5%;
}
.fonctionnement h2 {
  margin-bottom: 25px;
}
.fonctionnement .categorie {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  cursor: default;
}
.fonctionnement .categorie .cercle {
  position: absolute;
  margin-right: 84%;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  background: #9356DC;
  color: #fff;
  text-align: center;
  line-height: 180%;
  pointer-events: none;
  z-index: 2;
}
.fonctionnement .categorie .box {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 10%;
  background-color: #F6F6F6;
  width: 94%;
  height: 72px;
  border-radius: 20px;
  box-shadow: 0 5px 14px rgb(220, 220, 220);
  transition: 0.2s;
}
.fonctionnement .categorie .box .fa-mobile-alt {
  font-size: 23px;
  color: #7E7E7E;
  padding-left: 2px;
  padding-right: 5px;
}
.fonctionnement .categorie .box .fa-list {
  font-size: 20px;
  padding-right: 2px;
  color: #7E7E7E;
}
.fonctionnement .categorie .box .fa-store {
  font-size: 18px;
  color: #7E7E7E;
}
.fonctionnement .categorie .box__texte {
  font-weight: 800;
  font-size: 17px;
  color: rgb(51, 51, 51);
  padding-left: 6%;
  padding-bottom: 1px;
}
.fonctionnement .categorie .box:hover {
  background-color: #F5EDFF;
}
.fonctionnement .categorie .box:hover .fa-mobile-alt {
  color: #9356DC;
}
.fonctionnement .categorie .box:hover .fa-list {
  color: #9356DC;
}
.fonctionnement .categorie .box:hover .fa-store {
  color: #9356DC;
}

/*=== Listing des quatre restaurants sur la page d'accueil ===*/
.restaurants {
  background-color: #F6F6F6;
  padding: 55px 0 38px 0;
}
.restaurants__margin {
  margin: 0 5% 0 5%;
}
.restaurants__margin h2 {
  margin-bottom: 30px;
}
.restaurants__margin .restaurants__box {
  height: 315px;
  margin-bottom: 30px;
  border-radius: 20px;
  box-shadow: 0 5px 14px rgb(215, 215, 215);
  background-color: none;
  transition: 0.2s;
}
.restaurants__margin .restaurants__box:hover {
  transform: scale(1.02);
}
.restaurants__margin .restaurants__box img {
  object-fit: cover;
  width: 100%;
  height: 70%;
  border-radius: 20px 20px 0 0;
}
.restaurants__margin .restaurants__box--details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 14px 8% 10px 6%;
}
.restaurants__margin .restaurants__box--details .texte-restaurant .nom-restaurant {
  font-size: 21px;
  font-weight: 900;
  margin: 0 0 8px 0;
}
.restaurants__margin .restaurants__box--details .texte-restaurant .ville-restaurant {
  color: #525252;
}
.restaurants__margin .restaurants__box--details .coeur .fas {
  cursor: pointer;
  font-size: 30px;
  margin-top: 6px;
  position: absolute;
  color: transparent;
  background-image: linear-gradient(355deg, rgb(147, 86, 220) -20%, rgb(255, 121, 218) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0%;
  transition: 0.2s;
}
.restaurants__margin .restaurants__box--details .coeur .fas:hover {
  opacity: 100%;
  transform: scale(1.2);
}
.restaurants__margin .restaurants__box--details .coeur .far {
  pointer-events: none;
  font-size: 30px;
  margin-top: 6px;
  color: #000;
}

/*=== FOOTER ===*/
footer {
  background-color: #353535;
}
footer .footer-margin {
  margin: 0 6% 0 6%;
  padding: 30px 0 30px 0;
}
footer .footer-margin h1 {
  margin-bottom: 21px;
  font-size: 22px;
  font-weight: 100;
  letter-spacing: 1px;
  color: #fff;
}
footer .footer-margin a {
  text-decoration: none;
  color: #fff;
}
footer .footer-margin p {
  margin-bottom: 11px;
  font-size: 17px;
  width: max-content;
}
footer .footer-margin p:hover {
  text-decoration: underline;
}
footer .footer-margin p .fa-utensils {
  padding-right: 16px;
  font-size: 15px;
}
footer .footer-margin p .fa-hands-helping {
  padding-right: 10px;
  font-size: 15px;
}

/*=== Page SCSS destinée à la mise en page SCSS spécifique aux pages de menus ===*/
.header-menus {
  box-shadow: 0 0 6px 3px rgba(65, 65, 65, 0.316);
}

.page-menus__image-en-tete img {
  z-index: -2;
  object-fit: cover;
  width: 100%;
  height: 340px;
}

.carte-complete-menu {
  position: relative;
  background-color: #f6f6f6;
  margin-top: -55px;
  padding-bottom: 60px;
  border-radius: 50px 50px 0 0;
}
.carte-complete-menu .nom-resto-coeur {
  display: flex;
  padding: 25px 0 35px 0;
}
.carte-complete-menu .nom-resto-coeur h1 {
  width: 84%;
  padding-top: 1px;
  padding-left: 6%;
  padding-right: 6px;
  font-size: 28px;
}
.carte-complete-menu .nom-resto-coeur .coeur .fas {
  cursor: pointer;
  font-size: 30px;
  margin-top: 6px;
  position: absolute;
  color: transparent;
  background-image: linear-gradient(355deg, rgb(147, 86, 220) -20%, rgb(255, 121, 218) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0%;
  transition: 0.2s;
}
.carte-complete-menu .nom-resto-coeur .coeur .fas:hover {
  opacity: 100%;
  transform: scale(1.2);
}
.carte-complete-menu .nom-resto-coeur .coeur .far {
  pointer-events: none;
  font-size: 30px;
  margin-top: 6px;
  color: #000;
}
.carte-complete-menu .nom-resto-coeur .coeur .fas {
  font-size: 27px;
}
.carte-complete-menu .nom-resto-coeur .coeur .far {
  font-size: 27px;
}

.menu-margin {
  margin: 0 3% 0 3%;
}
.menu-margin .menu-sous-titre {
  margin: 0 0 15px 2%;
}
.menu-margin .menu-sous-titre .soulignage {
  background-color: #99E2D0;
  width: 55px;
  height: 3px;
  margin-top: 5px;
}
.menu-margin .mets-box {
  background-color: #fff;
  margin-bottom: 18px;
  border-radius: 15px;
  height: 80px;
  padding: 12px 10px 12px 3%;
  box-shadow: 0 3px 8px rgba(176, 176, 176, 0.404);
}
.menu-margin .mets-box .nom-mets {
  font-size: 21px;
  font-weight: 600;
  margin: 0 0 5px 0;
}
.menu-margin .mets-box .details-mets {
  color: #525252;
  font-size: 18px;
}

/*# sourceMappingURL=style.css.map */
