@mixin gradient {
    background: linear-gradient(355deg, rgba(147,86,220,1) 2%, rgba(255,121,218,1) 100%);
}

@mixin bouton-principal {
    width: 225px;
    height: 50px;
    border-radius: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.275);
    transition: 0.2s;
    @include gradient;
    p {
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        padding-bottom: 2px;
    }
    &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.475);
        transform: scale(1.02);
        filter: brightness(108%);
    }
    @media screen and (min-width: 1000px) {
        width: 230px;
        p{
            font-size: 17px;
        }
    }
}

@mixin coeur {
    .fas {
        cursor: pointer;
        font-size: 26px;
        margin-top: 6px;
        position: absolute;
        color: transparent; // hide text fill
        background-image: linear-gradient(355deg, rgba(147,86,220,1) -20%, rgba(255,121,218,1) 100%);
        background-clip: text; // use text as clipping mask for bg
        -webkit-background-clip: text;
        opacity: 0%;
        transition: 0.2s;
        &:hover {
            opacity: 100%;
            transform: scale(1.2);
        }
    }
    .far {
        pointer-events: none;
        font-size: 26px;
        margin-top: 6px;
        color: rgb(74, 74, 74);
    }
}
