body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

h1 {
    font-family: Shrikhand, Helvetica, sans-serif;
    font-size: 29px;
    font-weight: 700;
    letter-spacing: 1px;
}

h2 {
    font-size: 24px;
    font-weight: 900;
}

h3 {
    font-size: 18px;
    font-weight: 400;
    color: #777777;
}

h4 {
    font-size: 16px;
    font-weight: 400;
    color: rgb(75, 75, 75);
}

h5 {
    font-family: Shrikhand, Helvetica, sans-serif;
    margin-bottom: 18px;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #fff;
    @media screen and (min-width: 1000px) {
        font-size: 19px;
    }
}

p {
    font-size: 19px;
    color: #000;
}

.bouton-principal {
    @include bouton-principal;
    margin: 0;
    padding: 0;
}