/*=== Paramètre pour que le scroll soit smooth ===*/
html {
    scroll-behavior: smooth;
}

/*=== HEADER DES PAGES ===*/
header {
    position: relative;
    padding: 12px 0 10px 0;
    box-shadow: 0 0 6px 3px rgb(199, 199, 199);
    text-align: center;
    /*=== ".fleche-retour" ne concerne que les pages de menus, PAS l'index ! ===*/
    .fleche-retour {
        position: absolute;
        margin: 10px 0 0 5%;
        font-size: 24px;
        color: rgb(71, 71, 71);
        &:hover {
            background-image: linear-gradient(355deg, rgba(147,86,220,1) -20%, rgba(255,121,218,1) 100%);
        	background-size: cover;
	        color: transparent;
            background-clip: text;
	        -webkit-text-fill-color: transparent;
	        -webkit-background-clip: text;
            transform: scale(1.2);
        }
    }
}
/*=== Bandeau LOCALISATION sur la page d'accueil ===*/
.localisation {
    padding: 13px 0 13px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EAEAEA;
    .fa-map-marker-alt {
        padding-right: 18px;
        font-size: 19px;
        color: #353535;
    }
    &__text {
        padding-top: 3px;
        font-size: 19px;
        font-weight: 500;
        color: #4a4a4a;
    }
}

/*=== Présentation de l'entreprise avec le bouton principal "EXPLORER" sur la page d'accueil ===*/
.explorer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 35px 0 50px 0;
    background-color: #F6F6F6;
    h2 {
        margin-bottom: 16px;
        padding: 0 14% 0 14%;
        line-height: 28px;
    }
    h3 {
        padding: 0 6% 0 6%;
        margin-bottom: 30px;
    }
    a {
        text-decoration: none;
    }
}

/*=== Bandeau d'explication du concept en trois étapes sur la page d'accueil ===*/
.fonctionnement {
    margin: 35px 5% 60px 5%;
    h2 {
        margin-bottom: 25px;
    }
    .categorie {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        cursor: default;
        .cercle {
            position: absolute;
            margin-right: 84%;
            width: 30px;
            height: 30px;
            border-radius: 15px;
            background: $couleur-primaire;
            color: #fff;
            text-align: center;
            line-height: 200%;
            pointer-events: none;
            z-index: 2;
        }
        .box {
            display: flex;
            justify-content: left;
            align-items: center;
            padding-left: 10%;
            background-color: #F6F6F6;
            width: 94%;
            height: 85px;
            border-radius: 20px;
            box-shadow: 0 5px 14px rgb(215, 215, 215);
            transition: 0.2s;
            .fa-mobile-alt {
                font-size: 25px;
                color: #7E7E7E;
                padding-right: 7px;
            }
            .fa-list {
                font-size: 23px;
                color: #7E7E7E;
            }
            .fa-store {
                font-size: 20px;
                color: #7E7E7E;
            }
            &__texte {
                font-weight: 800;
                font-size: 18px;
                color: rgb(51, 51, 51);
                padding-left: 6%;
                padding-bottom: 1px;
            }
            &:hover {
                background-color: #F5EDFF;
                .fa-mobile-alt {
                    color: $couleur-primaire;
                }
                .fa-list {
                    color: $couleur-primaire;
                }
                .fa-store {
                    color: $couleur-primaire;
                }
            }
        }
    }
}

/*=== Listing des quatre restaurants sur la page d'accueil ===*/
.restaurants {
    background-color: #F6F6F6;
    padding: 40px 0 40px 0;
    &__margin {
        margin: 0 5% 0 5%;
        h2 {
            margin-bottom: 30px;
        }
        .restaurants__box {
            height: 315px;
            margin-bottom: 30px;
            border-radius: 20px;
            box-shadow: 0 5px 14px rgb(215, 215, 215);
            background-color: none;
            transition: 0.2s;
            &:hover {
                transform: scale(1.02);
            }
            img {
                object-fit: cover;
                width: 100%;
                height: 70%;
                border-radius: 20px 20px 0 0;
            }
            &--details {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin: 14px 8% 10px 6%;
                .texte-restaurant {
                    .nom-restaurant {
                        font-size: 21px;
                        font-weight: 900;
                        margin: 0 0 8px 0;
                    }
                    .ville-restaurant {
                        color: #525252;
                    }
                }
                .coeur {
                    @include coeur;
                }
            }
        }
    }
}

/*=== FOOTER ===*/
footer {
    background-color: #353535;
    .footer-margin {
        margin: 0 6% 0 6%;
        padding: 30px 0 30px 0;
        h1 {
            margin-bottom: 21px;
            font-size: 22px;
            font-weight: 100;
            letter-spacing: 1px;
            color: #fff;
        }
        a {
            text-decoration: none;
            color: #fff;
        }
        p {
            margin-bottom: 11px;
            font-size: 17px;
            width: max-content;
            &:hover {
                text-decoration: underline;
            }
            .fa-utensils {
                padding-right: 16px;
                font-size: 15px;
            }
            .fa-hands-helping {
                padding-right: 10px;
                font-size: 15px;
            }
        }
    }
}