header {
    text-align: center;
    padding: 14px 0 12px 0;
    box-shadow: 0 0 6px 3px rgb(199, 199, 199);
    position: relative;
}

.localisation {
    padding: 18px 0 18px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EAEAEA;
    .fa-map-marker-alt {
        padding-right: 18px;
        font-size: 20px;
    }
    &__text {
        font-size: 20px;
        font-weight: 700;
        color: #4a4a4a;
    }
}

.explorer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 35px 0 50px 0;
    background-color: #F6F6F6;
    h2 {
        margin-bottom: 20px;
        padding: 0 14% 0 14%;
    }
    h3 {
        padding: 0 12% 0 12%;
        margin-bottom: 30px;
    }
    a {
        text-decoration: none;
    }
}