header {
    text-align: center;
    padding: 14px 0 12px 0;
    box-shadow: 0 0 6px 3px rgb(199, 199, 199);
    position: relative;
}

.localisation {
    padding: 18px 0 18px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EAEAEA;
    .fa-map-marker-alt {
        padding-right: 18px;
        font-size: 20px;
    }
    &__text {
        font-size: 20px;
        font-weight: 700;
        color: #4a4a4a;
    }
}

.explorer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 35px 0 50px 0;
    background-color: #F6F6F6;
    h2 {
        margin-bottom: 20px;
        padding: 0 14% 0 14%;
    }
    h3 {
        padding: 0 12% 0 12%;
        margin-bottom: 30px;
    }
    a {
        text-decoration: none;
    }
}

.fonctionnement {
    margin: 35px 5% 60px 5%;
    h2 {
        margin-bottom: 25px;
    }
    .categorie {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        cursor: default;
        .cercle {
            position: absolute;
            margin-right: 84%;
            width: 30px;
            height: 30px;
            border-radius: 15px;
            background: $couleur-primaire;
            color: #fff;
            text-align: center;
            line-height: 200%;
            pointer-events: none;
            z-index: 2;
        }
        .box {
            display: flex;
            justify-content: left;
            align-items: center;
            padding-left: 10%;
            background-color: #F6F6F6;
            width: 94%;
            height: 85px;
            border-radius: 20px;
            box-shadow: 0 5px 14px rgb(215, 215, 215);
            transition: 0.2s;
            .fa-mobile-alt {
                font-size: 25px;
                color: #7E7E7E;
                padding-right: 7px;
            }
            .fa-list {
                font-size: 23px;
                color: #7E7E7E;
            }
            .fa-store {
                font-size: 20px;
                color: #7E7E7E;
            }
            &__texte {
                font-weight: 800;
                font-size: 18px;
                color: rgb(51, 51, 51);
                padding-left: 6%;
                padding-bottom: 1px;
            }
            &:hover {
                background-color: #F5EDFF;
                .fa-mobile-alt {
                    color: $couleur-primaire;
                }
                .fa-list {
                    color: $couleur-primaire;
                }
                .fa-store {
                    color: $couleur-primaire;
                }
            }
        }
    }
}

.restaurants {
    background-color: #F6F6F6;
    padding: 40px 0 40px 0;
    &__margin {
        margin: 0 5% 0 5%;
        h2 {
            margin-bottom: 30px;
        }
        .restaurants__box {
            height: 315px;
            border-radius: 20px;
            box-shadow: 0 5px 14px rgb(215, 215, 215);
            background-color: none;
            img {
                object-fit: cover;
                width: 100%;
                height: 70%;
                border-radius: 20px 20px 0 0;
            }
            &--details {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin: 14px 8% 10px 6%;
                .texte-restaurant {
                    .nom-restaurant {
                        font-size: 21px;
                        font-weight: 900;
                        margin: 0 0 8px 0;
                    }
                    .ville-restaurant {
                        color: #525252;
                    }
                }
                .coeur {
                    margin-top: 6px;
                    font-size: 30px;
                    .fa-heart {
                        color: #000;
                    }
                }
            }
        }
    }
}