/*=== Page SCSS destinée à la mise en page SCSS spécifique aux pages de menus ===*/

.header-menus {
    box-shadow: 0 0 6px 3px rgba(65, 65, 65, 0.316);
}

.page-menus__image-en-tete {
    img {
        z-index: -2;
        object-fit: cover;
        width: 100%;
        min-height: 278px;
        max-height: 440px;
    }
}

.carte-complete-menu {
    position: relative;
    background-color: #f6f6f6;
    margin-top: -55px;
    padding-bottom: 60px;
    border-radius: 50px 50px 0 0;
    .nom-resto-coeur {
        display: flex;
        padding: 32px 0 32px 0;
        h1 {
            width: 84%;
            padding-top: 1px;
            padding-left: 6%;
            padding-right: 6px;
            font-size: 26px;
        }
        .coeur {
            @include coeur;
            margin-top: -2px;
            @media screen and (min-width: 725px) {
                margin-left: 7%;
            }
            .fas {
                font-size: 27px;
            }
            .far {
                font-size: 27px;
            }
        }
    }
}

.menu-margin {
    margin: 0 3% 0 3%;
    .menu-sous-titre {
        margin: 0 0 15px 2%;
        .soulignage {
            background-color: $couleur-tertiaire;
            width: 44px;
            height: 3px;
            margin-top: 5px;
        }
    }
    .mets-box {
        background-color: #fff;
        margin-bottom: 14px;
        border-radius: 15px;
        height: 72px;
        padding: 15px 10px 15px 3%;
        box-shadow: 0 3px 8px rgba(176, 176, 176, 0.404);
        .nom-mets {
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 2px;
        }
        .details-mets {
            color: #4c4c4c;
            font-size: 15px;
        }
    }
}